.discord {
  background: linear-gradient(45deg, #2b2b2b, #4a4aff);
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  .contact-form {
    border: 3px solid white;
    padding: 50px;
    border-radius: 20%;
    label {
      color: white;
      text-align: center;
    }
    input {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    .submit {
      background-color: $hover-color;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #990091;
      }
    }
    .title {
      color: white;
      text-align: center;
    }
    img {
      position: relative;
      left: 44%;
      padding: 0 10px 0 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
